@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    Layout = "_Layout.cshtml";
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Sobre</title>
<link href="~/Models/css/reset.css" rel="stylesheet" />
<link href="~/Models/css/menu.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="~/Button-Blank-Blue-icon.ico">
<script src="~/Models/js/scripts.js"></script>
<script src="~/Models/js/logoffAction.js"></script>
<script src="~/Models/js/alunoScripts.js"></script>

<!--Suport Screen-->
<div id="suporte" class="d-Suport">
    <main class="div-mainCCVCD">
        <div class="home-title">
            <p>SUPPORT:</p>
        </div>

        <div>
            <div class="sup-GGHGer">
                <h2>Suporte AVA</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend velit id felis dictum, et mollis nibh semper.
                    In sed purus non enim vehicula congue vitae pellentesque risus. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Sed lacus purus, tempor eget nunc eu, porttitor dapibus libero. Curabitur bibendum, tortor
                    id sodales convallis, ex odio feugiat leo, non fringilla elit urna sed felis. Interdum et malesuada fames ac ante ipsum primis
                    in faucibus. Suspendisse potenti. Suspendisse eleifend odio id est iaculis vulputate. Pellentesque tortor mi, ultrices nec
                    fermentum aliquam, sollicitudin eget ligula. In eu felis at augue molestie tempus non vel est. Morbi in laoreet mi.
                </p>
            </div>
            <div class="sup-SSckLmf">
                <div class="sup-NNMdfgW">
                    <img class="img-svccccc" src="https://www.designerd.com.br/wp-content/uploads/2019/05/crm-atendimento-cliente.png" />
                    <div>
                        <h2>Atendimento 24h</h2>
                        <p>
                            Nam id ipsum purus. Sed non metus mi. Aliquam erat volutpat. Duis et odio volutpat, consectetur libero sed, sagittis nisi.
                            Vivamus sed ullamcorper dui, in aliquet libero. Proin eget enim quis ipsum interdum facilisis. Fusce tempus dignissim cursus.
                            Sed pharetra, tellus non placerat tempor, purus turpis vehicula ex, vel facilisis lorem sapien a nulla. Etiam molestie
                            tortor sit amet turpis ornare maximus. Aliquam nec lacus suscipit elit rutrum blandit. Duis ultricies, eros quis eleifend
                            pulvinar, odio sem malesuada diam, et ullamcorper elit elit sit amet magna. Cras sodales metus a urna elementum auctor. Etiam
                            ullamcorper, lorem vel venenatis ullamcorper, arcu risus dignissim risus, non auctor eros nulla porttitor nibh. Praesent nec enim velit.
                        </p>
                    </div>
                </div>
                <div class="sup-NNsldkF">
                    <div class="sup-JJaQsljG">
                        <p>
                            Aenean eros lacus, luctus ac justo eget, ultricies finibus tortor. Suspendisse malesuada bibendum elit in gravida. Nullam congue
                            eros porta tristique euismod. Duis mattis tortor orci. Cras mattis ullamcorper turpis eu finibus. Sed eros metus, egestas ut
                            ipsum id, venenatis volutpat arcu. In egestas metus arcu, commodo egestas lacus ultrices non. Morbi at venenatis justo. Nullam
                            malesuada et urna et vestibulum. Nullam id consectetur ligula, in iaculis elit. Vestibulum ultrices lobortis orci, eu mollis tellus
                            facilisis quis. Curabitur erat libero, mollis sed augue et, egestas sodales ligula.
                        </p>
                        <p>
                            Integer nec iaculis ipsum. Nulla ultricies, ex in vestibulum placerat, arcu velit pulvinar lectus, sed ultrices sapien dolor nec
                            ex. Integer interdum erat ac arcu tempus ultrices. Vivamus est metus, porta sit amet sem nec, porta lobortis libero. Nunc et eros
                            est. Donec dictum porttitor facilisis. Donec tincidunt elit et lorem imperdiet, pretium laoreet odio placerat. Proin et suscipit
                            est, et elementum sapien. Nullam ut felis a magna bibendum dictum. Donec sollicitudin pulvinar leo a tincidunt. Sed justo diam,
                            varius ac tellus ut, viverra porttitor arcu.
                        </p>
                    </div>
                    <div class="sup-JJwLsqQ">
                        <p class="sup-cttDesign-Letters">Contatos:</p>
                        <div class="sup-mailIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-envelope-fill" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57
                                              4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                            </svg>
                            <p>ava-sup@avacompany.com.br</p>
                        </div>
                        <div class="sup-phoneIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-headset" viewBox="0 0 16 16">
                                <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1
                                                  1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                            </svg>
                            <p>51 3403-3751</p>
                        </div>
                        <div class="sup-phoneDuty">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-telephone-inbound-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0
                                                  0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163
                                                  2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137
                                                  .703-2.877L1.885.511zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0z" />
                            </svg>
                            <p>51 9 8729-3948</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sup-BDGD">
            <div class="sup-CCvsW">
                <div class="sup-JKHJHTF">Manual sobre o Ambiente AVA Company:</div>
                <a id="docuRef" href="~/Manual Ambiente AVA.pdf" target="_blank">Ambiente AVA - Manual</a>
            </div>
            <div class="sup-CCvsW">
                <div class="sup-JKHJHTF">Manual sobre Métodos de Implantação:</div>
                <a id="docuRef" href="~/Implantação AVA Company.pdf" target="_blank">Implantação - Manual</a>
            </div>
        </div>
    </main>
</div>

<script>
    // SPINNER WRAPPER =================

    var spinnerWrapper = document.getElementById("spinnerWrapper");
    var spinnerModal = document.getElementById("spinMod");

    window.addEventListener('load', function () {
        if (spinnerModal.style.display = "flex") {
            spinnerModal.style.display = "none";
            spinnerWrapper.style.display = "none";
        }
    });

</script>