@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
////Layout = "~/View/Shared/_Layout.cshtml";
//Layout = null;
//BancoDados.DBConnect();

////Usuários====
//List<Usuario> usuarios = UsuarioRepository.ListarUsuarios();
//Usuario usuario = new Usuario();
//usuario.Login = Request.Form["login"];

//Boolean logged = false;
//HttpCookie cookie = Request.Cookies["UserLogin"];
//if (cookie != null)
//{
//    logged = true;
//}
}

<!DOCTYPE html>

<html>
@if (true)
{
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sobre</title>
    <link href="~/Models/css/reset.css" rel="stylesheet" />
    <link href="~/Models/css/menu.css" rel="stylesheet" />
    <link href="~/Models/css/suporte.css" rel="stylesheet" />
    <link href="~/Models/css/alunos.css" rel="stylesheet" />
    <link href="~/View/Validate/ValidateLogin.cshtml" rel="profile" />
    <link rel="icon" type="image/x-icon" href="~/Button-Blank-Blue-icon.ico">
    <script src="~/Models/js/scripts.js"></script>
    <script src="~/Models/js/logoffAction.js"></script>
    <script src="~/Models/js/alunoScripts.js"></script>
</head>
<body>

    <!--Spinner Wrapper-->
    <div id="spinMod" class="spinner-modal">
        <div id="spinnerWrapper" class="ring">
            Loading
            <span></span>
        </div>
    </div>

    <!--Main Header-->
    <div id="hyperHeader">
        <div class="header">
            <h2>AVA - Ambiente Escolar</h2>
            <p>Seja bem-vindo!</p>
        </div>
        <div class="cvSDgbcvD">
            <ul>
                <li><a class="active" href="~/View/Home/Menu">Home</a></li>
                <li><a href="~/View/Home/Matriculas">Matrículas</a></li>
                <li class="dropdown">
                    <a>
                        Cadastro
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </a>
                    <div class="dropdown-content">
                        <a href="~/View/Home/Alunos">Alunos</a>
                        <a href="~/View/Home/Professores">Professores</a>
                        <a href="~/View/Home/Usuarios">Usuários</a>
                    </div>
                </li>
                <li><a href="~/View/Ext/Sobre">Suporte</a></li>
                <li class="dropdown">
                    <a>
                        Eu
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </a>
                    <div class="dropdown-content">
                        <a onclick="LogOff()">Logoff</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--Suport Screen-->
    <div id="suporte" class="d-Suport">
        <main class="div-mainCCVCD">
            <div class="home-title">
                <p>SUPPORT:</p>
            </div>

            <div>
                <div class="sup-GGHGer">
                    <h2>Suporte AVA</h2>
                    <p>
                        Visite o site de Suporte AppleCare para obter respostas rápidas, ver tutoriais de
                        produtos, guias práticos, manuais e artigos técnicos mais detalhados.
                        Caso você tenha perdido ou encontrado algum produto Apple, entre em contato com a
                        delegacia mais próxima para comunicar o fato. Você também encontra uma lista de números
                        de série associados ao seu ID Apple e obtém informações sobre como usar o recurso Buscar no seu aparelho Apple.
                    </p>
                </div>
                <div class="sup-SSckLmf">
                    <div class="sup-NNMdfgW">
                        <img class="img-svccccc" src="https://www.designerd.com.br/wp-content/uploads/2019/05/crm-atendimento-cliente.png" />
                        <div>
                            <h2>Atendimento 24h</h2>
                            <p>
                                Visite o site de Suporte AppleCare para obter respostas rápidas, ver tutoriais de
                                produtos, guias práticos, manuais e artigos técnicos mais detalhados.
                                Caso você tenha perdido ou encontrado algum produto Apple, entre em contato com a
                                delegacia mais próxima para comunicar o fato.
                            </p>
                        </div>
                    </div>
                    <div class="sup-NNsldkF">
                        <div class="sup-JJaQsljG">
                            <p>
                                Visite o site de Suporte AppleCare para obter respostas rápidas, ver tutoriais de
                                produtos, guias práticos, manuais e artigos técnicos mais detalhados.
                                Caso você tenha perdido ou encontrado algum produto Apple, entre em contato com a
                                delegacia mais próxima para comunicar o fato.
                            </p>
                            <p>
                                Visite o site de Suporte AppleCare para obter respostas rápidas, ver tutoriais de
                                produtos, guias práticos, manuais e artigos técnicos mais detalhados.
                                Caso você tenha perdido ou encontrado algum produto Apple, entre em contato com a
                                delegacia mais próxima para comunicar o fato.
                            </p>
                        </div>
                        <div class="sup-JJwLsqQ">
                            <p class="sup-cttDesign-Letters">Contatos:</p>
                            <div class="sup-mailIcon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-envelope-fill" viewBox="0 0 16 16">
                                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57
                                              4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                                </svg>
                                <p>ava-sup@avacompany.com.br</p>
                            </div>
                            <div class="sup-phoneIcon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-headset" viewBox="0 0 16 16">
                                    <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1
                                                  1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                                </svg>
                                <p>51 3403-3751</p>
                            </div>
                            <div class="sup-phoneDuty">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-telephone-inbound-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0
                                                  0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163
                                                  2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137
                                                  .703-2.877L1.885.511zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0z" />
                                </svg>
                                <p>51 9 8729-3948</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br /><br /><br />
        </main>
    </div>

    <!--Main Footer-->
    <footer id="hyperFooter">
        <div>
            <p>2022 AVA &#169; - Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
}
</html>
<script>
    // SPINNER WRAPPER =================

    var spinnerWrapper = document.getElementById("spinnerWrapper");
    var spinnerModal = document.getElementById("spinMod");

    window.addEventListener('load', function () {
        if (spinnerModal.style.display = "flex") {
            spinnerModal.style.display = "none";
            spinnerWrapper.style.display = "none";
        }
    });
</script>