<!DOCTYPE html>

@RenderBody()
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="avaicon.ico">
    <link href="~/Models/css/layout.css" rel="stylesheet" />
</head>
<header>
    <img src="avaicon.ico" alt="avaicon" />
    <h1>AVA - Gestão Escolar</h1>
</header>
<div>

</div>