<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="avaicon.ico">
    <link href="~/Models/css/layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ls_ava_web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/defaultStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menuLateral.css" asp-append-version="true" />
</head>

<div class="container">
    <main role="main" class="main-container">
        @RenderSection("SemMenu", required: false)
        @if (!IsSectionDefined("SemMenu"))
        {
            <div class="containerMenu">
                @RenderPage("Shared/SideBarMenu.cshtml", "SideBarMenu")
            </div>
        }
        @RenderBody()
    </main>
</div>