@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    Layout = "_Layout.cshtml";
    Sessao sessao = Sessao.Current();
    List<Aluno> listaAlunos = AlunoRepository.ListarAlunos();
}

<title>Matricula</title>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Models/css/menu_lateral.css" rel="stylesheet" />
<link href="~/Models/css/menu.css" rel="stylesheet" />
<link href="~/Models/css/layout_scnd.css" rel="stylesheet" />

<div class="container-lg container-default">
    <div class="dft-header-title">
        <h1>Matrícula</h1>
    </div>
    <div id="container-table" class="class-list">
        @if (sessao.NivelAcesso.Id == 1)
        {
            <div>
                <form action="/WebBusiness/MatriculaBusiness/MatriculaSelect.cshtml" method="post" class="frm-matricula">
                    <span>Selecione uma matricula e clique no botão para visualizá-la.</span>
                    <div style="display: flex;">
                        <select name="numeroMatricula" class="slct-matricula">
                            <option disabled>Selecione a matricula</option>
                            @foreach (var item in listaAlunos)
                            {
                                <option value="@item.Matricula">@item.Matricula</option>
                            }
                        </select>
                        <button class="btn btn-add-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                            </svg>
                            Visualizar
                        </button>
                    </div>
                </form>
            </div>
        }
        else
        {

            <div>
                <form action="/WebBusiness/MatriculaBusiness/MatriculaSelect.cshtml" method="post" class="frm-matricula" style="width: 50%;">
                    <span>Clique para visualizar seu atestado de matricula.</span>
                    <button class="btn btn-add-item" style="width: 30%;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                        </svg>
                        Visualizar
                    </button>
                </form>
            </div>
        }
    </div>
</div>

<!--Spinner Wrapper-->
<div id="spinMod" class="spinner-modal">
    <div id="spinnerWrapper" class="ring">
        Loading
        <span></span>
    </div>
</div>

<script>

    // SPINNER WRAPPER =================

    var spinnerWrapper = document.getElementById("spinnerWrapper");
    var spinnerModal = document.getElementById("spinMod");

    window.addEventListener('load', function () {
        if (spinnerModal.style.display = "flex") {
            spinnerModal.style.display = "none";
            spinnerWrapper.style.display = "none";
        }
    });
</script>