@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    //Layout = "~/View/Shared/_Layout.cshtml";
    Layout = null;
    BancoDados.DBConnect();
    Usuario usuario = new Usuario();
    usuario.Login = Request.Form["login"];

    Boolean logged = false;
    HttpCookie cookie = Request.Cookies["UserLogin"];
    if (cookie != null)
    {
        logged = true;
    }
}

<!DOCTYPE html>

<html>
@if (logged)
{
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Cadastro de Aluno</title>
        <link href="~/View/Shared/_Layout.cshtml" rel="logo" />
        <link href="~/models/css/reset.css" rel="stylesheet" />
        <link href="~/Models/css/menu.css" rel="stylesheet" />
        <link href="~/View/Validate/ValidateLogin.cshtml" rel="profile" />
        <link rel="icon" type="image/x-icon" href="~/avaicon.ico">
    </head>
    <body>

        <script>
            alert("Bem Vindo!");
        </script>
        
        <nav>
            <div>
                <br />
                <ul>
                    <li class="dropdown">
                        <a>Funções</a>
                        <div class="dropdown-content">
                            <a href="" target="_blank">Consulta BP-E</a>
                            <a href="" target="_blank">Consulta CT-E</a>
                        </div>
                    </li>
                </ul>
                <br />
            </div>
        </nav>
        <br /><br />
              <span>Usuário logado: @cookie.Value.ToString()</span>
        <br /><br />
        <main>
            <div>
                <br />
                <form action="/" method="post">
                    <h2>Informações sobre o aluno para matrícula:</h2>
                    <br />
                    <label>Nome:</label>
                    <input id="nome" type="text" name="nome" placeholder="Insira seu nome aqui" formmethod="post" />
                    <br />
                    <label>E-mail:</label>
                    <input id="email" type="email" name="email" placeholder="Insira seu nome aqui" formmethod="post" />
                    <br />
                    <button onclick="limparCampos()">Cancelar</button>
                    <br />
                    <label>Selecione o curso:</label>
                    <br />
                    <input id="radioBox" type="radio" name="radiobox" formmethod="post" />
                    <span id="radiobox">System Developer</span>
                    <br />
                    <input id="radioBox" type="radio" name="radiobox" formmethod="post" />
                    <span id="radiobox">Design Patterns</span>
                    <br />
                    <input id="radioBox" type="radio" name="radiobox" formmethod="post" />
                    <span id="radiobox">Software Engineer</span>
                    <br />
                    <input id="radioBox" type="radio" name="radiobox" formmethod="post" />
                    <span id="radiobox">Agile Software Especialization</span>
                    <br />
                    <input id="radioBox" type="radio" name="radiobox" formmethod="post" />
                    <span id="radiobox">Project Manager</span>
                    <br />
                </form>

                @{
                    List<string> alunos = AlunoRepository.BuscarNomeAlunos();
                }

                <main>
                    <div>
                        <h2>Listar Alunos:</h2>
                        <br />
                        <button>Listar</button>
                        <table>
                            @foreach (string item in alunos)
                            {
                                <br />
                                <tr>
                                    @item
                                </tr>
                            }
                        </table>
                    </div>
                </main>
                <br />
                <a href="~/View/Home/Alunos.cshtml" target="_blank">Redirecionar: Alunos</a>
                <br />
                <a href="~/View/Home/Professores.cshtml" target="_blank">Redirecionar: Professores</a>
                <br />
                <a href="~/View/Home/Usuarios.cshtml" target="_blank">Redirecionar: Usuários</a>
                <br />
            </div>
        </main>
        <br />
        <button onclick="LogOff()">Sair</button>
        <br />
        <footer>
            <div>
                footer
            </div>
        </footer>
    </body>
}
else
{
    <head>
        <link rel="icon" type="image/x-icon" href="~/View/Validate/notFound.ico">
        <title>Not Found</title>
    </head>
    <body>
        <br />
        <img style="margin-left: 30px; display:inline-block;" src="~/View/Validate/notFound.ico" alt="notFound" />
        <h1 style="display:inline-block; margin-left: 20px;"> Something went wrong. Return <a href="~/Login.cshtml">here</a>. </h1>
    </body>
}
</html>

<script>
    let

</script>

<script src="~/Models/js/logoffAction.js"></script>
<script src="~/Models/js/siteActions.js"></script>
<script src="~/Models/js/scripts.js"></script>