@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    //Layout = "~/View/Shared/_Layout.cshtml";
    Layout = null;
    BancoDados.DBConnect();
    Usuario usuario = new Usuario();
    usuario.Login = Request.Form["login"];

    Boolean logged = false;
    HttpCookie cookie = Request.Cookies["UserLogin"];
    if (cookie != null)
    {
        logged = true;
    }
}

<!DOCTYPE html>

<html>
<!--change to logged-->
@if (logged == true)
{
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>AVA</title>
        <link href="~/View/Shared/_Layout.cshtml" rel="logo" />
        <link href="~/Models/css/reset.css" rel="stylesheet" />
        <link href="~/Models/css/menu.css" rel="stylesheet" />
        <link href="~/Models/css/suporte.css" rel="stylesheet" />
        <link href="~/Models/css/alunos.css" rel="stylesheet" />
        <link href="~/View/Validate/ValidateLogin.cshtml" rel="profile" />
        <link rel="icon" type="image/x-icon" href="~/Button-Blank-Blue-icon.ico">
    </head>

    <body>

        <!--Spinner Wrapper-->
        <div id="spinMod" class="spinner-modal">
            <div id="spinnerWrapper" class="ring">
                Loading
                <span></span>
            </div>
        </div>

        <!--Main Header-->
        <div id="hyperHeader">
            <div class="header">
                <h2>AVA - Ambiente Escolar</h2>
                <p>Seja bem-vindo!</p>
            </div>
            <div class="cvSDgbcvD">
                <ul>
                    <li><a class="active" href="~/View/Home/Menu">Home</a></li>
                    <li><a href="~/View/Home/Matriculas">Matrículas</a></li>
                    <li class="dropdown">
                        <a>
                            Cadastro
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                        </a>
                        <div class="dropdown-content">
                            <a href="~/View/Home/Alunos">Alunos</a>
                            <a href="~/View/Home/Professores">Professores</a>
                            <a href="~/View/Home/Usuarios">Usuários</a>
                        </div>
                    </li>
                    <li><a href="~/View/Ext/Sobre">Suporte</a></li>
                    <li class="dropdown">
                        <a>
                            Eu
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                        </a>
                        <div class="dropdown-content">
                            <a onclick="LogOff()">Logoff</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!--Home Screen-->
        <div id="home" class="d-Home">
            <main class="div-mainCCVCD">

                <div class="home-title">
                    <p>HOME:</p>
                </div>

                <div class="w3-content">
                    <img class="mySlides fade" src="~/H47HVU2CB5DPNBV6Z353AKPXQ4.jpeg">
                    <img class="mySlides fade" src="~/hhjlhgafgrgnvg.jpg">
                </div>
                <div class="m-MainCnt">
                    <div class="m-maSCVVSS">
                        <div class="mc-ss">
                            <h2>Sobre o AVA:</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac eros condimentum, volutpat nulla sed, venenatis arcu. Nulla eget
                                nibh ultricies, congue massa pretium, pharetra ante. Morbi eleifend efficitur nulla ut rutrum. Aenean in elit dolor. Class aptent
                                taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sagittis velit eu nulla varius, sed posuere
                                dolor imperdiet. Aenean pellentesque felis dolor, id porta neque mattis vulputate. Aliquam sed lacus ligula. Nullam mollis et neque
                                sed ornare. Sed mi ante, varius in orci nec, consequat semper urna. Mauris velit justo, imperdiet et tristique id, viverra volutpat
                                dolor. Etiam bibendum purus dapibus arcu venenatis imperdiet. Aenean efficitur ipsum ut nunc tristique, nec euismod ante tincidunt.
                                Ut ornare lobortis placerat. Curabitur odio quam, semper nec volutpat et, cursus sed ante.
                            </p>
                        </div>
                        <div class="mc-SSxxxf">
                            <p>
                                Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus
                                dignissim nibh, pellentesque viverra erat. Proin nec libero non eros ullamcorper tincidunt. Aliquam imperdiet mollis rhoncus. Vivamus
                                vitae est iaculis elit luctus posuere nec eu ex. Quisque sit amet arcu maximus risus laoreet egestas. Nulla ac fermentum purus, hendrerit
                                consequat orci. Cras vel bibendum enim. Donec pretium elit non eleifend gravida. Etiam vitae magna pellentesque, cursus enim nec, efficitur libero.
                            </p>
                            <p>
                                Duis sodales sapien eu orci cursus ullamcorper. Donec maximus gravida nunc rhoncus convallis. In varius leo elit, eget malesuada
                                orci rhoncus rhoncus. Sed feugiat in arcu eget tempus. Proin ut orci et felis porttitor sagittis. Quisque erat sem, pulvinar a nibh
                                vitae, elementum vehicula quam. Morbi vitae nibh sed magna porttitor ullamcorper. Etiam vel orci lorem.
                            </p>
                        </div>
                        <div class="mc-SsskhCCC">
                            <p>
                                Nam laoreet diam eu neque aliquam commodo. Fusce tincidunt tellus non risus porta pretium. Nunc sit amet nulla at erat euismod porttitor.
                                Sed molestie non neque bibendum vulputate. Aliquam gravida tortor nec semper eleifend. Donec a velit ac ante finibus auctor. Sed pellentesque
                                erat volutpat dolor mattis interdum. Aliquam id odio sed velit porta mattis elementum eget quam. Praesent est metus, posuere et luctus vitae,
                                consectetur non ligula. Quisque nec sem eget odio mattis sodales ut eget diam. Pellentesque ac massa cursus, interdum urna ac, viverra risus.
                            </p>
                            <p>
                                Aliquam mollis metus sed metus vehicula, vitae euismod lacus tristique. Ut et euismod quam, id ultrices nisl. Curabitur maximus magna mi,
                                a sollicitudin urna lacinia et. Vestibulum eget pellentesque dolor. Duis sem augue, venenatis a neque ac, vestibulum iaculis purus. Nunc in
                                lacus pretium, egestas arcu sed, rutrum ante. Maecenas varius arcu ac posuere porta. Suspendisse viverra sapien id commodo auctor. Duis
                                maximus semper nibh quis rhoncus. Ut vitae ex sit amet justo venenatis malesuada. Fusce tempor dui leo. Fusce consequat ut purus id vestibulum.
                                Quisque mollis felis sed hendrerit venenatis. Donec at nisl urna. Nunc convallis, ex ut commodo porttitor, erat tortor sagittis purus,
                                eu luctus mauris metus sit amet purus.
                            </p>
                        </div>
                    </div>
                    <div class="m-maFGBGHD">
                        <div class="mc-SDASX">
                            <h2>Objetivo:</h2>
                            <p>
                                Mauris quis sem sed ipsum vestibulum porttitor. Vestibulum faucibus tellus sit amet sodales volutpat. Suspendisse non mi in nisi porttitor
                                sollicitudin. Nulla vestibulum porta interdum. Sed eget molestie enim. Etiam commodo iaculis magna, sed consectetur massa tempus quis. Integer
                                dictum, nisl vitae venenatis placerat, metus nibh tincidunt felis, sed pulvinar ipsum enim et erat. Cras vitae congue nibh. Morbi mattis at
                                purus eget feugiat. Phasellus sed mauris non mi iaculis sollicitudin sit amet at ipsum. Nunc enim turpis, rutrum ut ultricies ut, consequat
                                eu risus. Cras pulvinar metus lacus, a lobortis dolor tristique ac. Maecenas eget urna tempor, pretium quam id, consectetur eros. Mauris
                                ultricies sem eget enim euismod sagittis. Quisque facilisis tincidunt urna et semper. Sed eget feugiat erat.
                            </p>
                        </div>
                        <div class="mc-dfdfsd">
                            <img class="img-svccccc" src="~/Dggggggggsdfcv.jpg" />
                        </div>
                    </div>
                </div>
                <div class="m-MAJkOwE">
                    <div class="m-maSCVVSS">
                        <div class="mc-ss">
                            <h2>Analista de Sistemas:</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac eros condimentum, volutpat nulla sed, venenatis arcu. Nulla eget
                                nibh ultricies, congue massa pretium, pharetra ante. Morbi eleifend efficitur nulla ut rutrum. Aenean in elit dolor. Class aptent
                                taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sagittis velit eu nulla varius, sed posuere
                                dolor imperdiet. Aenean pellentesque felis dolor, id porta neque mattis vulputate. Aliquam sed lacus ligula. Nullam mollis et neque
                                sed ornare. Sed mi ante, varius in orci nec, consequat semper urna. Mauris velit justo, imperdiet et tristique id, viverra volutpat
                                dolor. Etiam bibendum purus dapibus arcu venenatis imperdiet. Aenean efficitur ipsum ut nunc tristique, nec euismod ante tincidunt.
                                Ut ornare lobortis placerat. Curabitur odio quam, semper nec volutpat et, cursus sed ante.
                            </p>
                        </div>
                        <div class="mc-SSxxxf">
                            <p>
                                Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus
                                dignissim nibh, pellentesque viverra erat. Proin nec libero non eros ullamcorper tincidunt. Aliquam imperdiet mollis rhoncus. Vivamus
                                vitae est iaculis elit luctus posuere nec eu ex. Quisque sit amet arcu maximus risus laoreet egestas. Nulla ac fermentum purus, hendrerit
                                consequat orci. Cras vel bibendum enim. Donec pretium elit non eleifend gravida. Etiam vitae magna pellentesque, cursus enim nec, efficitur libero.
                            </p>
                        </div>
                        <div class="mc-SsskhCCC">
                            <p>
                                Nam laoreet diam eu neque aliquam commodo. Fusce tincidunt tellus non risus porta pretium. Nunc sit amet nulla at erat euismod porttitor.
                                Sed molestie non neque bibendum vulputate. Aliquam gravida tortor nec semper eleifend. Donec a velit ac ante finibus auctor. Sed pellentesque
                                erat volutpat dolor mattis interdum. Aliquam id odio sed velit porta mattis elementum eget quam. Praesent est metus, posuere et luctus vitae,
                                consectetur non ligula. Quisque nec sem eget odio mattis sodales ut eget diam. Pellentesque ac massa cursus, interdum urna ac, viverra risus.
                            </p>
                            <p>
                                Aliquam mollis metus sed metus vehicula, vitae euismod lacus tristique. Ut et euismod quam, id ultrices nisl. Curabitur maximus magna mi,
                                a sollicitudin urna lacinia et. Vestibulum eget pellentesque dolor. Duis sem augue, venenatis a neque ac, vestibulum iaculis purus. Nunc in
                                lacus pretium, egestas arcu sed, rutrum ante. Maecenas varius arcu ac posuere porta. Suspendisse viverra sapien id commodo auctor. Duis
                                maximus semper nibh quis rhoncus. Ut vitae ex sit amet justo venenatis malesuada. Fusce tempor dui leo. Fusce consequat ut purus id vestibulum.
                                Quisque mollis felis sed hendrerit venenatis. Donec at nisl urna. Nunc convallis, ex ut commodo porttitor, erat tortor sagittis purus,
                                eu luctus mauris metus sit amet purus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-MAJkOwE">
                    <div class="m-maSCVVSS">
                        <div class="mc-ss">
                            <h2>Ciência da Computação:</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac eros condimentum, volutpat nulla sed, venenatis arcu. Nulla eget
                                nibh ultricies, congue massa pretium, pharetra ante. Morbi eleifend efficitur nulla ut rutrum. Aenean in elit dolor. Class aptent
                                taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sagittis velit eu nulla varius, sed posuere
                                dolor imperdiet. Aenean pellentesque felis dolor, id porta neque mattis vulputate. Aliquam sed lacus ligula. Nullam mollis et neque
                                sed ornare. Sed mi ante, varius in orci nec, consequat semper urna. Mauris velit justo, imperdiet et tristique id, viverra volutpat
                                dolor. Etiam bibendum purus dapibus arcu venenatis imperdiet. Aenean efficitur ipsum ut nunc tristique, nec euismod ante tincidunt.
                                Ut ornare lobortis placerat. Curabitur odio quam, semper nec volutpat et, cursus sed ante.
                            </p>
                        </div>
                        <div class="mc-SSxxxf">
                            <p>
                                Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus
                                dignissim nibh, pellentesque viverra erat. Proin nec libero non eros ullamcorper tincidunt. Aliquam imperdiet mollis rhoncus. Vivamus
                                vitae est iaculis elit luctus posuere nec eu ex. Quisque sit amet arcu maximus risus laoreet egestas. Nulla ac fermentum purus, hendrerit
                                consequat orci. Cras vel bibendum enim. Donec pretium elit non eleifend gravida. Etiam vitae magna pellentesque, cursus enim nec, efficitur libero.
                            </p>
                        </div>
                        <div class="mc-SsskhCCC">
                            <p>
                                Nam laoreet diam eu neque aliquam commodo. Fusce tincidunt tellus non risus porta pretium. Nunc sit amet nulla at erat euismod porttitor.
                                Sed molestie non neque bibendum vulputate. Aliquam gravida tortor nec semper eleifend. Donec a velit ac ante finibus auctor. Sed pellentesque
                                erat volutpat dolor mattis interdum. Aliquam id odio sed velit porta mattis elementum eget quam. Praesent est metus, posuere et luctus vitae,
                                consectetur non ligula. Quisque nec sem eget odio mattis sodales ut eget diam. Pellentesque ac massa cursus, interdum urna ac, viverra risus.
                            </p>
                            <p>
                                Aliquam mollis metus sed metus vehicula, vitae euismod lacus tristique. Ut et euismod quam, id ultrices nisl. Curabitur maximus magna mi,
                                a sollicitudin urna lacinia et. Vestibulum eget pellentesque dolor. Duis sem augue, venenatis a neque ac, vestibulum iaculis purus. Nunc in
                                lacus pretium, egestas arcu sed, rutrum ante. Maecenas varius arcu ac posuere porta. Suspendisse viverra sapien id commodo auctor. Duis
                                maximus semper nibh quis rhoncus. Ut vitae ex sit amet justo venenatis malesuada. Fusce tempor dui leo. Fusce consequat ut purus id vestibulum.
                                Quisque mollis felis sed hendrerit venenatis. Donec at nisl urna. Nunc convallis, ex ut commodo porttitor, erat tortor sagittis purus,
                                eu luctus mauris metus sit amet purus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-MAJkOwE">
                    <div class="m-maSCVVSS">
                        <div class="mc-ss">
                            <h2>Desenvolvimento de Sistemas:</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac eros condimentum, volutpat nulla sed, venenatis arcu. Nulla eget
                                nibh ultricies, congue massa pretium, pharetra ante. Morbi eleifend efficitur nulla ut rutrum. Aenean in elit dolor. Class aptent
                                taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sagittis velit eu nulla varius, sed posuere
                                dolor imperdiet. Aenean pellentesque felis dolor, id porta neque mattis vulputate. Aliquam sed lacus ligula. Nullam mollis et neque
                                sed ornare. Sed mi ante, varius in orci nec, consequat semper urna. Mauris velit justo, imperdiet et tristique id, viverra volutpat
                                dolor. Etiam bibendum purus dapibus arcu venenatis imperdiet. Aenean efficitur ipsum ut nunc tristique, nec euismod ante tincidunt.
                                Ut ornare lobortis placerat. Curabitur odio quam, semper nec volutpat et, cursus sed ante.
                            </p>
                        </div>
                        <div class="mc-SSxxxf">
                            <p>
                                Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus
                                dignissim nibh, pellentesque viverra erat. Proin nec libero non eros ullamcorper tincidunt. Aliquam imperdiet mollis rhoncus. Vivamus
                                vitae est iaculis elit luctus posuere nec eu ex. Quisque sit amet arcu maximus risus laoreet egestas. Nulla ac fermentum purus, hendrerit
                                consequat orci. Cras vel bibendum enim. Donec pretium elit non eleifend gravida. Etiam vitae magna pellentesque, cursus enim nec, efficitur libero.
                            </p>
                        </div>
                        <div class="mc-SsskhCCC">
                            <p>
                                Nam laoreet diam eu neque aliquam commodo. Fusce tincidunt tellus non risus porta pretium. Nunc sit amet nulla at erat euismod porttitor.
                                Sed molestie non neque bibendum vulputate. Aliquam gravida tortor nec semper eleifend. Donec a velit ac ante finibus auctor. Sed pellentesque
                                erat volutpat dolor mattis interdum. Aliquam id odio sed velit porta mattis elementum eget quam. Praesent est metus, posuere et luctus vitae,
                                consectetur non ligula. Quisque nec sem eget odio mattis sodales ut eget diam. Pellentesque ac massa cursus, interdum urna ac, viverra risus.
                            </p>
                            <p>
                                Aliquam mollis metus sed metus vehicula, vitae euismod lacus tristique. Ut et euismod quam, id ultrices nisl. Curabitur maximus magna mi,
                                a sollicitudin urna lacinia et. Vestibulum eget pellentesque dolor. Duis sem augue, venenatis a neque ac, vestibulum iaculis purus. Nunc in
                                lacus pretium, egestas arcu sed, rutrum ante. Maecenas varius arcu ac posuere porta. Suspendisse viverra sapien id commodo auctor. Duis
                                maximus semper nibh quis rhoncus. Ut vitae ex sit amet justo venenatis malesuada. Fusce tempor dui leo. Fusce consequat ut purus id vestibulum.
                                Quisque mollis felis sed hendrerit venenatis. Donec at nisl urna. Nunc convallis, ex ut commodo porttitor, erat tortor sagittis purus,
                                eu luctus mauris metus sit amet purus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-MAJkOwE">
                    <div class="m-maSCVVSS">
                        <div class="mc-ss">
                            <h2>Engenheiro de Software:</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac eros condimentum, volutpat nulla sed, venenatis arcu. Nulla eget
                                nibh ultricies, congue massa pretium, pharetra ante. Morbi eleifend efficitur nulla ut rutrum. Aenean in elit dolor. Class aptent
                                taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sagittis velit eu nulla varius, sed posuere
                                dolor imperdiet. Aenean pellentesque felis dolor, id porta neque mattis vulputate. Aliquam sed lacus ligula. Nullam mollis et neque
                                sed ornare. Sed mi ante, varius in orci nec, consequat semper urna. Mauris velit justo, imperdiet et tristique id, viverra volutpat
                                dolor. Etiam bibendum purus dapibus arcu venenatis imperdiet. Aenean efficitur ipsum ut nunc tristique, nec euismod ante tincidunt.
                                Ut ornare lobortis placerat. Curabitur odio quam, semper nec volutpat et, cursus sed ante.
                            </p>
                        </div>
                        <div class="mc-SSxxxf">
                            <p>
                                Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus
                                dignissim nibh, pellentesque viverra erat. Proin nec libero non eros ullamcorper tincidunt. Aliquam imperdiet mollis rhoncus. Vivamus
                                vitae est iaculis elit luctus posuere nec eu ex. Quisque sit amet arcu maximus risus laoreet egestas. Nulla ac fermentum purus, hendrerit
                                consequat orci. Cras vel bibendum enim. Donec pretium elit non eleifend gravida. Etiam vitae magna pellentesque, cursus enim nec, efficitur libero.
                            </p>
                        </div>
                        <div class="mc-SsskhCCC">
                            <p>
                                Nam laoreet diam eu neque aliquam commodo. Fusce tincidunt tellus non risus porta pretium. Nunc sit amet nulla at erat euismod porttitor.
                                Sed molestie non neque bibendum vulputate. Aliquam gravida tortor nec semper eleifend. Donec a velit ac ante finibus auctor. Sed pellentesque
                                erat volutpat dolor mattis interdum. Aliquam id odio sed velit porta mattis elementum eget quam. Praesent est metus, posuere et luctus vitae,
                                consectetur non ligula. Quisque nec sem eget odio mattis sodales ut eget diam. Pellentesque ac massa cursus, interdum urna ac, viverra risus.
                            </p>
                            <p>
                                Aliquam mollis metus sed metus vehicula, vitae euismod lacus tristique. Ut et euismod quam, id ultrices nisl. Curabitur maximus magna mi,
                                a sollicitudin urna lacinia et. Vestibulum eget pellentesque dolor. Duis sem augue, venenatis a neque ac, vestibulum iaculis purus. Nunc in
                                lacus pretium, egestas arcu sed, rutrum ante. Maecenas varius arcu ac posuere porta. Suspendisse viverra sapien id commodo auctor. Duis
                                maximus semper nibh quis rhoncus. Ut vitae ex sit amet justo venenatis malesuada. Fusce tempor dui leo. Fusce consequat ut purus id vestibulum.
                                Quisque mollis felis sed hendrerit venenatis. Donec at nisl urna. Nunc convallis, ex ut commodo porttitor, erat tortor sagittis purus,
                                eu luctus mauris metus sit amet purus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-MAJkOwE">
                    <div class="m-maSCVVSS">
                        <div class="mc-ss">
                            <h2>Telecomunicação:</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac eros condimentum, volutpat nulla sed, venenatis arcu. Nulla eget
                                nibh ultricies, congue massa pretium, pharetra ante. Morbi eleifend efficitur nulla ut rutrum. Aenean in elit dolor. Class aptent
                                taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sagittis velit eu nulla varius, sed posuere
                                dolor imperdiet. Aenean pellentesque felis dolor, id porta neque mattis vulputate. Aliquam sed lacus ligula. Nullam mollis et neque
                                sed ornare. Sed mi ante, varius in orci nec, consequat semper urna. Mauris velit justo, imperdiet et tristique id, viverra volutpat
                                dolor. Etiam bibendum purus dapibus arcu venenatis imperdiet. Aenean efficitur ipsum ut nunc tristique, nec euismod ante tincidunt.
                                Ut ornare lobortis placerat. Curabitur odio quam, semper nec volutpat et, cursus sed ante.
                            </p>
                        </div>
                        <div class="mc-SSxxxf">
                            <p>
                                Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus
                                dignissim nibh, pellentesque viverra erat. Proin nec libero non eros ullamcorper tincidunt. Aliquam imperdiet mollis rhoncus. Vivamus
                                vitae est iaculis elit luctus posuere nec eu ex. Quisque sit amet arcu maximus risus laoreet egestas. Nulla ac fermentum purus, hendrerit
                                consequat orci. Cras vel bibendum enim. Donec pretium elit non eleifend gravida. Etiam vitae magna pellentesque, cursus enim nec, efficitur libero.
                            </p>
                        </div>
                        <div class="mc-SsskhCCC">
                            <p>
                                Nam laoreet diam eu neque aliquam commodo. Fusce tincidunt tellus non risus porta pretium. Nunc sit amet nulla at erat euismod porttitor.
                                Sed molestie non neque bibendum vulputate. Aliquam gravida tortor nec semper eleifend. Donec a velit ac ante finibus auctor. Sed pellentesque
                                erat volutpat dolor mattis interdum. Aliquam id odio sed velit porta mattis elementum eget quam. Praesent est metus, posuere et luctus vitae,
                                consectetur non ligula. Quisque nec sem eget odio mattis sodales ut eget diam. Pellentesque ac massa cursus, interdum urna ac, viverra risus.
                            </p>
                            <p>
                                Aliquam mollis metus sed metus vehicula, vitae euismod lacus tristique. Ut et euismod quam, id ultrices nisl. Curabitur maximus magna mi,
                                a sollicitudin urna lacinia et. Vestibulum eget pellentesque dolor. Duis sem augue, venenatis a neque ac, vestibulum iaculis purus. Nunc in
                                lacus pretium, egestas arcu sed, rutrum ante. Maecenas varius arcu ac posuere porta. Suspendisse viverra sapien id commodo auctor. Duis
                                maximus semper nibh quis rhoncus. Ut vitae ex sit amet justo venenatis malesuada. Fusce tempor dui leo. Fusce consequat ut purus id vestibulum.
                                Quisque mollis felis sed hendrerit venenatis. Donec at nisl urna. Nunc convallis, ex ut commodo porttitor, erat tortor sagittis purus,
                                eu luctus mauris metus sit amet purus.
                            </p>
                        </div>
                    </div>
                </div>
                <br /><br /><br />
            </main>
        </div>

        

        <!--Main Footer-->
        <footer id="hyperFooter">
            <div>
                <p>2022 AVA &#169; - Todos os direitos reservados.</p>
            </div>
        </footer>
    </body>
}
else
{
    <head>
        <link rel="icon" type="image/x-icon" href="~/View/Validate/notFound.ico">
        <title>Not Found</title>
    </head>
    <body>
        <br />
        <img style="margin-left: 30px; display:inline-block;" src="~/View/Validate/notFound.ico" alt="notFound" />
        <h1 style="display:inline-block; margin-left: 20px;"> Something went wrong. Return <a href="~/Login.cshtml">here</a>. </h1>
    </body>
}
</html>

<script src="~/Models/js/logoffAction.js"></script>
<script src="~/Models/js/siteActions.js"></script>
<script src="~/Models/js/scripts.js"></script>