@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    //Layout nulo, por enquanto (mudar para _Layout, assim que estiver pronto)
    Layout = null;
    BancoDados.DBConnect();
    List<Professor> professores = ProfessorRepository.ListarProfessores();
    List<Curso> cursos = CursoRepository.ListarCursos();
    Professor p = new Professor();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Professores</title>
    <link href="~/View/Shared/_Layout.cshtml" rel="logo" />
    <link href="~/Models/css/reset.css" rel="stylesheet" />
    <link href="~/Models/css/menu.css" rel="stylesheet" />
    <link href="~/Models/css/professores.css" rel="stylesheet" />
    <link href="~/View/Validate/ValidateLogin.cshtml" rel="profile" />
    <link rel="icon" type="image/x-icon" href="~/Button-Blank-Blue-icon.ico">
</head>
<body>


    <!--Spinner Wrapper-->
    <div id="spinMod" class="spinner-modal">
        <div id="spinnerWrapper" class="ring">
            Loading
            <span></span>
        </div>
    </div>

    <!--Main Header-->
    <div id="hyperHeader">
        <div class="header">
            <h2>AVA - Ambiente Escolar</h2>
            <p>Seja bem-vindo!</p>
        </div>
        <div class="cvSDgbcvD">
            <ul>
                <li><a class="active" href="~/View/Home/Menu">Home</a></li>
                <li><a href="~/View/Home/Matriculas">Matrículas</a></li>
                <li class="dropdown">
                    <a>
                        Cadastro
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </a>
                    <div class="dropdown-content">
                        <a href="~/View/Home/Alunos">Alunos</a>
                        <a href="~/View/Home/Professores">Professores</a>
                        <a href="~/View/Home/Usuarios">Usuários</a>
                    </div>
                </li>
                <li><a href="~/View/Ext/Sobre">Suporte</a></li>
                <li class="dropdown">
                    <a>
                        Eu
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </a>
                    <div class="dropdown-content">
                        <a onclick="LogOff()">Logoff</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--Professores Screen-->
    <div id="professores" class="d-Professores">
        <main class="div-mainCCVCD">
            <div class="home-title">
                <p>TEACHERS:</p>
            </div>

            <div class="prof-MMkcEwS">
                <form action="~/WebBusiness/ProfessorBusiness/ProfessorInsert.cshtml" method="post">
                    <h2>Cadastro de Professores:</h2>
                    <div>
                        <div class="prof-CvnMrfG">
                            <label>Nome:</label>
                            <input id="nome" type="text" name="nome" value="@p.Nome" placeholder="Nome do aluno" />
                        </div>
                        <div class="prof-CvnMrfG">
                            <label>E-mail:</label>
                            <input id="email" type="email" name="email" value="@p.Email" placeholder="E-mail do aluno" />
                        </div>
                        <div class="prof-CvnMrfG">
                            <label>Selecione o curso:</label>
                            <select id="idCursoId" name="idCursoId">
                                @foreach (Curso curso in cursos)
                                {
                                    <option value="@curso.Id">@curso.Descricao</option>
                                }
                            </select>
                        </div>
                    </div>
                    <input id="insert" type="submit" value="Gravar" />
                </form>
                <div class="prof-BtnCLokkTg">
                    <button id="new" onclick="New()">Novo</button>
                    <button id="update" onclick="Update()" disabled>Alterar</button>
                    <button id="cancel" onclick="Cancelar()">Cancelar</button>
                </div>
            </div>
        </main>
    </div>

    <!--Main Footer-->
    <footer id="hyperFooter">
        <div>
            <p>2022 AVA &#169; - Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
<script>
    // SPINNER WRAPPER =================

    var spinnerWrapper = document.getElementById("spinnerWrapper");
    var spinnerModal = document.getElementById("spinMod");

    window.addEventListener('load', function () {
        if (spinnerModal.style.display = "flex") {
            spinnerModal.style.display = "none";
            spinnerWrapper.style.display = "none";
        }
    });
</script>

<script src="~/Models/js/logoffAction.js"></script>
<script src="~/Models/js/scripts.js"></script>