@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    Layout = "_Layout.cshtml";
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Ajuda</title>
<link href="~/View/Shared/_Layout.cshtml" rel="logo" />
<link href="~/Models/css/reset.css" rel="stylesheet" />
<link href="~/View/Validate/ValidateLogin.cshtml" rel="profile" />
<link rel="icon" type="image/x-icon" href="~/Button-Blank-Blue-icon.ico">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Models/css/menu_lateral.css" rel="stylesheet" />
<link href="~/Models/css/menu.css" rel="stylesheet" />
<link href="~/Models/css/layout_scnd.css" rel="stylesheet" />

<div class="container-lg container-default">
    <div class="dft-header-title">
        <h1>Ajuda</h1>
    </div>
</div>

<script>
    // SPINNER WRAPPER =================

    var spinnerWrapper = document.getElementById("spinnerWrapper");
    var spinnerModal = document.getElementById("spinMod");

    window.addEventListener('load', function () {
    if (spinnerModal.style.display = "flex") {
    spinnerModal.style.display = "none";
    spinnerWrapper.style.display = "none";
    }
    });

</script>
