@using AmbienteEscolar.Business.BancoDeDados;
@using AmbienteEscolar.Business.Repositorios;
@using AmbienteEscolar.Business.Classes;

@{
    Layout = "_Layout.cshtml";
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Ajuda</title>
<link href="~/View/Shared/_Layout.cshtml" rel="logo" />
<link href="~/Models/css/reset.css" rel="stylesheet" />
<link href="~/View/Validate/ValidateLogin.cshtml" rel="profile" />
<link rel="icon" type="image/x-icon" href="~/Button-Blank-Blue-icon.ico">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Models/css/menu_lateral.css" rel="stylesheet" />
<link href="~/Models/css/menu.css" rel="stylesheet" />
<link href="~/Models/css/layout_scnd.css" rel="stylesheet" />

<div class="container-lg container-default">
    <div class="dft-header-title">
        <h1>Ajuda</h1>
    </div>
    <div>

        <section class="faq-section">
            <label>Perguntas Frequentes</label>

            <div class="faq-item">
                <label>Como faço para acessar meu boletim?</label>
                <p>Para acessar seu boletim, faça login no portal e vá para a seção 'Boletim Escolar'.</p>
            </div>

            <div class="faq-item">
                <label>Esqueci minha senha. Como posso recuperá-la?</label>
                <p>Vá para a página de login e clique em 'Esqueci minha senha'. Siga as instruções para redefinir sua senha.</p>
            </div>

            <div class="faq-item">
                <label>Como funciona o sistema de notas e avaliações</label>
                <p>O sistema de notas se da por: 50% Exercícios + 50% Prova. Na qual o professor pode fazer no máximo 5 trabalhos avaliativos e 2 provas.</p>
            </div>

            <div class="faq-item">
                <label>O portal do aluno possui versão mobile ou aplicativo?</label>
                <p>Por enquanto não, mas já estamos trabalhando nesse pedido.</p>
            </div>

            <div class="faq-item">
                <label>Onde encontro os materiais de estudo e recursos didáticos online?</label>
                <p>Google.（*＾-＾*）</p>
            </div>

            <div class="faq-item">
                <label>Como faço para solicitar uma declaração de matrícula?</label>
                <p>Solicitações de declaração de matrícula podem ser feitas na seção "Documentos" do portal. Lá, você encontrará a opção para gerar e baixar sua declaração de matrícula.</p>
            </div>

            <!-- Adicione mais perguntas e respostas conforme necessário -->

        </section>

        <section class="ask-section">
            <label>Faça sua Pergunta</label>

            <form action="#" method="post">
                <label for="question">Sua Pergunta:</label>
                <textarea id="question" name="question" rows="4" required></textarea>

                <button type="submit">Enviar Pergunta</button>
            </form>
        </section>

        <section class="tutorials-section">
            <label>Tutoriais</label>

            <div class="tutorial-item">
                <label>Como visualizar meu horário de aulas?</label>
                <p>Para visualizar seu horário de aulas, acesse a seção 'Horário Acadêmico' no menu principal. Lá você encontrará detalhes sobre os dias, horários e locais das suas aulas.</p>
            </div>

            <!-- Adicione mais tutoriais conforme necessário -->

        </section>

        <section class="contact-section">
            <label>Entre em Contato</label>

            <p>Se você não encontrou a resposta para sua pergunta ou precisa de assistência adicional, entre em contato conosco:</p>

            <p>Email: <a href="mailto:meajuda.ava@atendimento.com">meajuda.ava@atendimento.com</a></p>
            <p>Telefone: (51) 4002-8922 / Atendente Yudi</p>

        </section>

    </div>
</div>

<script>
    // SPINNER WRAPPER =================

    var spinnerWrapper = document.getElementById("spinnerWrapper");
    var spinnerModal = document.getElementById("spinMod");

    window.addEventListener('load', function () {
    if (spinnerModal.style.display = "flex") {
    spinnerModal.style.display = "none";
    spinnerWrapper.style.display = "none";
    }
    });

</script>
