@using AmbienteEscolar.Business.Classes
@using AmbienteEscolar.Business.Repositorios
@using IronPdf;

@{
    Sessao sessao = Sessao.Current();
    bool isADM = sessao.NivelAcesso.Id == 1;
    Aluno aluno = null;
    if (isADM)
    {
        int matricula = int.Parse(Request.Form["numeroMatricula"]);
        aluno = AlunoRepository.BuscarAlunoPorMatricula(matricula);
    }
    else { aluno = AlunoRepository.BuscarAlunoPorMatricula(sessao.Matricula); }

    ChromePdfRenderer Renderer = new ChromePdfRenderer();

    var dia = DateTime.Today.ToString("dd");
    var mes = DateTime.Today.ToString("MMMM");
    var ano = DateTime.Today.ToString("yyyy");

    var pdf = Renderer.RenderHtmlAsPdf($@"

<div>
        <div style=""display:flex;width: 100%;align-items: center;justify-content: space-between;"">
            <div>
                <p>
                <strong>{aluno.Nome}</strong><br>
                Rua Araça, 192<br>
                Canoas, Rio Grande do Sul, 92310-470<br>
                {aluno.Email}<br>
                {aluno.Telefone}
                </p>
            </div>
            <img style=""width: 150px;height: 105px;border-radius: 10px"" src=""https://trello.com/1/cards/65422cff12a1b2ab8aebbdfd/attachments/65422d0e52f745c5bfc1046a/previews/65422d1052f745c5bfc10550/download/generate-a-logo-written-ava-upscaled_(1).png"">
        </div>

        <p>
            <strong>{DateTime.Today}</strong>
        </p>

        <p>
            <strong>Universidade La Salle</strong><br>
            Rua 15 de Janeiro<br>
            Canoas, Rio Grande do Sul, 93001-652
        </p>
    </div>

    <div>
        <hr>
        <h2>ATESTADO DE MATRÍCULA</h2>

        <p>
            Eu, <strong>{aluno.Nome}</strong>, Solteiro, portador(a) do RG nº <strong>6118908547</strong>
            e do CPF nº <strong>{aluno.Cpf}</strong>, declaro para os devidos fins que estou regularmente matriculado(a)
            no <strong>Ciência da Computação</strong> da <strong>Universidade La Salle</strong>, com ingresso no ano letivo
            de <strong>01/03/2021</strong> e semestre <strong>2º</strong>, conforme registro acadêmico sob o número
            <strong>R{aluno.Matricula}&{aluno.Cpf}</strong>.
        </p>

        <p>
            Segue abaixo as principais informações referentes à matrícula:
        </p>

        <ul>
            <li>Curso: <strong>Ciência da Computação</strong></li>
            <li>Período/Semestre: <strong>2°</strong></li>
            <li>Ano de Ingresso: <strong>01/03/2021</strong></li>
            <li>Número de Registro Acadêmico: <strong>R{aluno.Matricula}&{aluno.Cpf}</strong></li>
        </ul>

        <p>
            Este atestado tem validade para o período de <strong>01/03/2021</strong> a <strong>01/12/2026</strong>,
            referente ao ano letivo de <strong>{ano}</strong>, estando o(a) aluno(a) regularmente matriculado(a) e apto(a)
            a frequentar as atividades acadêmicas.
        </p>

        <p>
            Este documento é fornecido a pedido do(a) interessado(a), para os fins que julgar necessários.
        </p>

        <p>
            Cidade, <strong>{dia}</strong> de <strong>{mes}</strong> de <strong>{ano}</strong>.
        </p>
        <div style=""text-align: end;"">
            <p style=""margin: 0;font-size: 1px;"">
            <img style=""width: 170px;height: 70px;"" src=""https://trello.com/1/cards/6542920a5e1ffe2547f3f201/attachments/6565fd9d4425c374bbb58ac0/download/assinatura_template.png""></p>
            <div style=""display: flex;justify-content: flex-end;"">
                <p style=""margin: 0;font-size: 6px;"">____________________________</p>
                <p style=""margin: 0;font-size: 6px;"">____________________________</p>
                <p style=""margin: 0;font-size: 6px;"">____________________________</p>
            </div>
            <p>{aluno.Nome}</p>
            <p>Ciência da Computação</p>
            <p>R{aluno.Matricula}&{aluno.Cpf}</p>
        </div>
    </div>");
    string path = "C:/Users/erosk/OneDrive/Área de Trabalho/generated_matriculas/";
    string file = AmbienteEscolar.Business.EncryptionHelper.EncryptString(sessao.Matricula.ToString());
    string output = $"{path}{file}.pdf";
    pdf.SaveAs(output);
    System.Diagnostics.Process.Start(output);

    <text>
        <script>
            window.location.href = "/View/Home/Matriculas.cshtml";
        </script>
    </text>
}