@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        <div>
            header
        </div>
    </header>
    <nav>
        <div>
            nav
        </div>
    </nav>
    <main>
        <div>
            main
        </div>
    </main>
    <footer>
        <div>
            footer
        </div>
    </footer>
</body>
</html>
