@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Models/css/reset.css" rel="stylesheet" />
    <link href="~/Models/css/login.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/User-blue-icon.ico">
</head>

<body>
    <header>
        <div class="CCvs">
            <div>
                <h1>AVA - Login</h1>
            </div>
            <div>
                <span>Preencha os campos a seguir para realizar seu login</span>
            </div>
        </div>
    </header>
    <main>
        <form method="post" id="formulario" autocomplete="off" action="~/View/Validate/ValidateLogin.cshtml" @*onclick="formularioAlerta()"*@>
            <div class="main-box">
                <div class="info">
                    <div class="dv-sCSA">
                        <label class="usr">Usuário</label>
                        <input id="login" name="login" type="text" placeholder="Insira seu nome" required maxlength="15" minlength="4">
                    </div>
                    <div class="dv-sCSA">
                        <label class="usr">Senha</label>
                        <input id="senha" name="senha" type="password" placeholder="Insira sua senha" required maxlength="15" minlength="4">
                    </div>
                    <input class="gdjNB" type="submit" value="Logar" />
                    @*<div>
                            <button onclick="executarLogin()" type="submit">Logar</button>
                        </div>*@
                </div>
            </div>
        </form>
    </main>
    <div class="alertaFormulario" onclick="formularioAlerta()">
        <p id="confirmacao"></p>
    </div>
    <div class="ink-butnn">
        <div class="linkMenu" id="linkMenu">
            <a id="linkMenu" href="~/View/Home/Menu.cshtml">Ir para o Menu</a>
        </div>
    </div>
    <div>
        <a href="~/View/Home/Menu.cshtml">redirect</a>
    </div>
    <footer>
        <div>
            AVA © All rights reserved
        </div>
    </footer>
</body>
</html>

<script src="~/Models/js/scripts.js"></script>