@{
    Layout = null;
    @section SemMenu { }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Models/css/reset.css" rel="stylesheet" />
    <link href="~/Models/css/login.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/User-blue-icon.ico">
    <link href="~/Models/css/defaultStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div id="container">
        <h1>AVA</h1>
        <h3>Portal do Aluno</h3>
        <hr>
        <h4>Entrar</h4>
        <form method="post" id="formulario" autocomplete="off" action="~/View/Validate/ValidateLogin.cshtml">
            <input id="logininput" type="text" placeholder="Usuário">
            <input id="senhainput" type="password" placeholder="Senha">
            <input class="button-lg-session" type="submit" value="Logar" />
            <a class="a-button-lg" href="~/RecuperarSenha.cshtml">Esqueci a minha senha</a>
        </form>
    </div>
</body>
</html>

<script src="~/Models/js/scripts.js"></script>