@{
    Layout = null;
    @section SemMenu { }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Models/css/reset.css" rel="stylesheet" />
    <link href="~/Models/css/login.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/User-blue-icon.ico">
    <link href="~/Models/css/defaultStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div id="container">
        <h1>AVA</h1>
        <h3>Recuperar senha</h3>
        <hr>
        <h4>Insira seu email cadastrado</h4>
        <input type="text" placeholder="E-mail">
        <input class="button-lg-session" type="submit" value="Enviar">
        <p><a class="a-button-lg" href="~/Login.cshtml" style="padding: 5px 56px;">Realizar login</a></p>
    </div>
</body>

@*<body>
        <header>
            <div class="CCvs">
                <div>
                    <h1>AVA - Login</h1>
                </div>
                <div>
                    <span>Preencha os campos a seguir para realizar seu login</span>
                </div>
            </div>
        </header>
        <main>
            <form method="post" id="formulario" autocomplete="off" action="~/View/Validate/ValidateLogin.cshtml">
                <div class="main-box">
                    <div class="info">
                        <div class="dv-sCSA">
                            <label class="usr">Usuário</label>
                            <input id="login" name="login" type="text" placeholder="Insira seu nome" required maxlength="15" minlength="4">
                        </div>
                        <div class="dv-sCSA">
                            <label class="usr">Senha</label>
                            <input id="senha" name="senha" type="password" placeholder="Insira sua senha" required maxlength="15" minlength="4">
                        </div>
                        <input class="gdjNB" type="submit" value="Logar" />
                    </div>
                </div>
            </form>
        </main>
        <div>
            <a href="~/View/Home/Menu.cshtml" hidden>redirect</a>
        </div>
        <footer>
            <div>
                AVA © All rights reserved
            </div>
        </footer>
    </body>*@



</html>

<script src="~/Models/js/scripts.js"></script>