body {
}

.list-main-div {
    box-shadow: 0px 1px 7px black;
}
.list-header {
    font-weight: bold;
    color: #3d72af;
    text-shadow: 1px 0px 0px #000000;
    display: flex;
    justify-content: space-around;
}
.list-table {
    border: 1px solid grey;
    border-top: none;
}

.alun-SSfvcbDgG {
    display: flex;
    justify-content: space-around;
}

.alun-MMskcDF {
    padding: 10px;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.alun-DDscVok{
    display: flex;
}