body {
    background-color: #b7b7b7;
    font-size: 22px;
}

h2{
    font-size: 30px;
    margin: 15px 0;
}

.head-me{
    /*position: absolute;
    right: 0;*/
}

.cvSDgbcvD {
    background-color: #222222;
    width: 100%;
    height: 50px;
}

.header {
    padding: 60px 30px;
    background-color: #3d72af;
    color: white;
    text-align: center;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #202020;
    top: 0;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #3d72af;
        }

.active {
    background-color: #3e3e3e;
}

footer {
    position: fixed;
    display: flex;
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: #202020;
    color: white;
    bottom: 0;
    justify-content: center;
}

.div-mainCCVCD{
    padding: 20px 40px;
}

.mySlides {
    display: none;
    width: 100%;
    border-radius: 10px;
}

.w3-content{
    padding: 0 150px;
}

.m-MainCnt{
    padding: 20px 0;
}
/*===================*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-size: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align-last: start;
}

    .dropdown-content a {
        color: black;
    }

        .dropdown-content a:hover {
            background-color: lightgray;
        }

.dropdown:hover .dropdown-content {
    display: block;
}