body {
    background-color: #222222;
    font-size: 22px;
}

.d-Home, .d-Matriculas, .d-Alunos, .d-Professores, .d-Suport, .d-Users {
    background-color: #dddddd;
    margin: 0 15%;
    margin-bottom: 100px;
}

h2 {
    font-size: 45px;
    margin: 15px 0;
    font-weight: bold;
}

.home-title {
    border-bottom: 1px solid #626262;
    border-top: 1px solid #626262;
    padding: 40px 0;
    font-weight: bold;
    margin-bottom: 15px;
}

.cvSDgbcvD {
    background-color: #222222;
    width: 100%;
    height: 50px;
    border-bottom: 4px solid #3e3e3e;
}

.header {
    padding: 10%;
    background-color: #3d72af;
    color: white;
    text-align: center;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #202020;
    top: 0;
}

li {
    float: left;
}

    li a {
        cursor: pointer;
        transition: all .1s ease-in;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #3d72af;
            text-shadow: 0px 0px 6px black;
        }

.active {
    background-color: #3e3e3e;
}

footer {
    position: fixed;
    display: flex;
    width: 100%;
    height: 7%;
    background-color: #202020;
    color: white;
    bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.div-mainCCVCD {
    box-shadow: 5px 5px 10px black;
    padding: 20px 40px;
}

.mySlides {
    display: none;
    width: 100%;
    border-radius: 10px;
    box-shadow: 7px 7px 12px #181818;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.w3-content {
    padding: 1% 20%;
}

.m-MainCnt {
    display: flex;
    padding: 20px 0;
}

.m-maSCVVSS {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mc-ss, .mc-SDASX, .mc-SSxxxf, .mc-dfdfsd, .mc-SsskhCCC {
    padding: 10px 15px;
}

.m-maFGBGHD {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-svccccc {
    width: 100%;
    border-radius: 10px;
    box-shadow: 7px 7px 12px #181818;
}

button, input#insert {
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #297dff;
    border: 1px solid #0064ff;
    border-radius: 3px;
    box-shadow: 0px 0px 3px black;
}



/*===================*/
.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-size: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align-last: start;
}

    .dropdown-content a {
        color: black;
    }

        .dropdown-content a:hover {
            background-color: lightgray;
            transition: all .2s ease-in;
            text-shadow: none;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

/*SPINNER=================*/

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #297dff;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #f5f5f5;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

    .ring:before {
        content: '';
        position: absolute;
        top: -3px;
        left: -3px;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-top: 3px solid #297dff;
        border-right: 3px solid #297dff;
        border-radius: 50%;
        animation: animateC 2s linear infinite;
    }

span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

    span:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #297dff;
        top: -6px;
        right: -8px;
        box-shadow: 0 0 20px #ffffff;
    }

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

.spinner-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000d6;
}
