body {
    background-color: #222222;
    font-size: 22px;
}

.d-Home, .d-Matriculas, .d-Alunos, .d-Professores, .d-Suport {
    background-color: #dddddd;
    margin: 0 15%;
}

h2 {
    font-size: 45px;
    margin: 15px 0;
    font-weight: bold;
}

.home-title {
    border-bottom: 1px solid #626262;
    border-top: 1px solid #626262;
    padding: 40px 0;
    font-weight: bold;
    margin-bottom: 15px;
}

.head-me {
    /*position: absolute;
    right: 0;*/
}

.cvSDgbcvD {
    background-color: #222222;
    width: 100%;
    height: 50px;
}

.header {
    padding: 10%;
    background-color: #3d72af;
    color: white;
    text-align: center;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #202020;
    top: 0;
}

li {
    float: left;
}

    li a {
        cursor: pointer;
        transition: all .1s ease-in;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #3d72af;
        }

.active {
    background-color: #3e3e3e;
}

footer {
    position: fixed;
    display: flex;
    width: 100%;
    height: 7%;
    background-color: #202020;
    color: white;
    bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.div-mainCCVCD {
    box-shadow: 5px 5px 10px black;
    padding: 20px 40px;
}

.mySlides {
    display: none;
    width: 100%;
    border-radius: 10px;
    box-shadow: 7px 7px 12px #181818;
}

.w3-content{
    padding: 1% 20%;
}

.m-MainCnt {
    display: flex;
    padding: 20px 0;
}

.m-maSCVVSS {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mc-ss, .mc-SDASX, .mc-SSxxxf, .mc-dfdfsd, .mc-SsskhCCC {
    padding: 10px 15px;
}

.m-maFGBGHD {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-svccccc {
    width: 100%;
    border-radius: 10px;
    box-shadow: 7px 7px 12px #181818;
}

/*===================*/
.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-size: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align-last: start;
}

    .dropdown-content a {
        color: black;
    }

        .dropdown-content a:hover {
            background-color: lightgray;
            transition: all .2s ease-in;
        }

.dropdown:hover .dropdown-content {
    display: block;
}