tr th {
    font-size: 28px;
    color: #0064ff;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    padding: 5px 0;
    text-shadow: -1px 1px 1px black;
    text-align: start;
}

tr td {
    border-bottom: 1px solid #bdbdbd;
    padding: 5px 0;
}

table{
    width: 100%;
}

.list-main-div {
    display: inline-block;
    box-shadow: 0px 1px 7px black;
}
.list-header {
    border: 1px solid grey;
    padding: 5px 5px;
    font-size: 18px;
}
.list-table {
    border: 1px solid grey;
    border-top: none;
}

.prof-MMkcEwS {
    padding: 10px;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    margin: 20px 0px;
}

.prof-CvnMrfG {
    display: flex;
    padding: 5px 0;
}

.prof-BtnCLokkTg {
    padding-top: 6px;
}